
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {
  --with-mobile: 23.4375rem;
  --width-desktop: 90rem;
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hls(212, 45%, 89%);
  --color-grayish-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);
  --color-bg: rgb(213, 224, 238);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Outfit', sans-serif;
  background: var(--color-bg);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


.container {
  width: var(--width-desktop);
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.qr_code {
  width: 290px;
  height: 450px;
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  padding: 14px;
  border-radius: 20px;
}

.qr_code > img {
  width: 100%;
  height: 260px;
  border-radius: 10px;
}

h1 {
  width: 100%;
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  padding: 20px 0;
  line-height: 1.2;
  color: var();
}

p {
  font-size: 15px;
  text-align: center;
  line-height: 1.1;
  color: var(--color-grayish-blue);
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .container {
    width: var(--with-mobile);
  }
  .qr_code {
    width: 320px;
    height: 500px;
    padding: 18px;
    /* border-radius: 0; */
  }
  .qr_code > img {
    height: 288px;
  }

  h1 {
    font-size: 22px;
  }

  p {
    padding: 0 20px;
  }
}